logs
target
/.idea
/.idea_modules
/.classpath
/.sbtserver
/.project
/.settings
/RUNNING_PID
node_modules
/project/.sbtserver
/project/*-shim.sbt
/project/project/
/project/target/
npm-debug.log.*
/dynamodb/database
