@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("dist/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("dist/styles.css")">
        <script src="@routes.Assets.versioned("dist/vendor.js")" type="text/javascript"></script>
    </head>
    <body ng-app="app">
        @content

        <script src="@routes.Assets.versioned("dist/app.js")"></script>
    </body>
</html>
